/**
 * Css specific to this website
 */

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Search Bar
 */
#search-bar {
  margin-top: rem-calc(20);
}

/**
 * Page Layout
 */
.article-body {
  text-align: justify;
}

.img-fond {
  background-image: url("../../public/img/bandeau_fond_copie.png");
  margin: 0;
  padding: 0;
  min-height: 200px;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

i.medium-icon {
  font-size: 1.6rem;
}
