[class^="flag-"],
[class*=" flag-"] {
  display: inline-block;
  width: 17px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/iso16.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
[class^="flag-"]:last-child,
[class*=" flag-"]:last-child {
  *margin-left: 0;
}

.flag-_ASEAN{ background-position: 0 0; width: 16px; height: 16px; }
.flag-_AfricanUnion{ background-position: -66px 0; width: 16px; height: 16px; }
.flag-_Alderney{ background-position: -132px 0; width: 16px; height: 16px; }
.flag-_ArabLeague{ background-position: -198px 0; width: 16px; height: 16px; }
.flag-_BasqueCountry{ background-position: -264px 0; width: 16px; height: 16px; }
.flag-_CARICOM{ background-position: -330px 0; width: 16px; height: 16px; }
.flag-_CIS{ background-position: -396px 0; width: 16px; height: 16px; }
.flag-_Catalonia{ background-position: -462px 0; width: 16px; height: 16px; }
.flag-_Commonwealth{ background-position: -528px 0; width: 16px; height: 16px; }
.flag-_England{ background-position: -594px 0; width: 16px; height: 16px; }
.flag-_EuropeanUnion{ background-position: -660px 0; width: 16px; height: 16px; }
.flag-_FAO{ background-position: -726px 0; width: 16px; height: 16px; }
.flag-_Galicia{ background-position: -792px 0; width: 16px; height: 16px; }
.flag-_IAEA{ background-position: -858px 0; width: 16px; height: 16px; }
.flag-_IHO{ background-position: -924px 0; width: 16px; height: 16px; }
.flag-_IslamicConference{ background-position: -990px 0; width: 16px; height: 16px; }
.flag-_Kosovo{ background-position: -1056px 0; width: 16px; height: 16px; }
.flag-_NATO{ background-position: -1122px 0; width: 16px; height: 16px; }
.flag-_NorthernCyprus{ background-position: -1188px 0; width: 16px; height: 16px; }
.flag-_NorthernIreland{ background-position: -1254px 0; width: 16px; height: 16px; }
.flag-_OAS{ background-position: -1320px 0; width: 16px; height: 16px; }
.flag-_OECD{ background-position: -1386px 0; width: 16px; height: 16px; }
.flag-_OPEC{ background-position: -1452px 0; width: 16px; height: 16px; }
.flag-_OlimpicMovement{ background-position: -1518px 0; width: 16px; height: 16px; }
.flag-_RedCross{ background-position: -1584px 0; width: 16px; height: 16px; }
.flag-_Scotland{ background-position: -1650px 0; width: 16px; height: 16px; }
.flag-_Somaliland{ background-position: -1716px 0; width: 16px; height: 16px; }
.flag-_Tristan-da-Cunha{ background-position: -1782px 0; width: 16px; height: 16px; }
.flag-_UNESCO{ background-position: -1848px 0; width: 16px; height: 16px; }
.flag-_UNICEF{ background-position: -1914px 0; width: 16px; height: 16px; }
.flag-_UnitedNations{ background-position: 0 -66px; width: 16px; height: 16px; }
.flag-_WHO{ background-position: -66px -66px; width: 16px; height: 16px; }
.flag-_WTO{ background-position: -132px -66px; width: 16px; height: 16px; }
.flag-_Wales{ background-position: -198px -66px; width: 16px; height: 16px; }
.flag-ad{ background-position: -264px -66px; width: 16px; height: 16px; }
.flag-ae{ background-position: -330px -66px; width: 16px; height: 16px; }
.flag-af{ background-position: -396px -66px; width: 16px; height: 16px; }
.flag-ag{ background-position: -462px -66px; width: 16px; height: 16px; }
.flag-ai{ background-position: -528px -66px; width: 16px; height: 16px; }
.flag-al{ background-position: -594px -66px; width: 16px; height: 16px; }
.flag-am{ background-position: -660px -66px; width: 16px; height: 16px; }
.flag-an{ background-position: -726px -66px; width: 16px; height: 16px; }
.flag-ao{ background-position: -792px -66px; width: 16px; height: 16px; }
.flag-aq{ background-position: -858px -66px; width: 16px; height: 16px; }
.flag-ar{ background-position: -924px -66px; width: 16px; height: 16px; }
.flag-as{ background-position: -990px -66px; width: 16px; height: 16px; }
.flag-at{ background-position: -1056px -66px; width: 16px; height: 16px; }
.flag-au{ background-position: -1122px -66px; width: 16px; height: 16px; }
.flag-aw{ background-position: -1188px -66px; width: 16px; height: 16px; }
.flag-ax{ background-position: -1254px -66px; width: 16px; height: 16px; }
.flag-az{ background-position: -1320px -66px; width: 16px; height: 16px; }
.flag-ba{ background-position: -1386px -66px; width: 16px; height: 16px; }
.flag-bb{ background-position: -1452px -66px; width: 16px; height: 16px; }
.flag-bd{ background-position: -1518px -66px; width: 16px; height: 16px; }
.flag-be{ background-position: -1584px -66px; width: 16px; height: 16px; }
.flag-bf{ background-position: -1650px -66px; width: 16px; height: 16px; }
.flag-bg{ background-position: -1716px -66px; width: 16px; height: 16px; }
.flag-bh{ background-position: -1782px -66px; width: 16px; height: 16px; }
.flag-bi{ background-position: -1848px -66px; width: 16px; height: 16px; }
.flag-bj{ background-position: -1914px -66px; width: 16px; height: 16px; }
.flag-bl{ background-position: 0 -132px; width: 16px; height: 16px; }
.flag-bm{ background-position: -66px -132px; width: 16px; height: 16px; }
.flag-bn{ background-position: -132px -132px; width: 16px; height: 16px; }
.flag-bo{ background-position: -198px -132px; width: 16px; height: 16px; }
.flag-br{ background-position: -264px -132px; width: 16px; height: 16px; }
.flag-bs{ background-position: -330px -132px; width: 16px; height: 16px; }
.flag-bt{ background-position: -396px -132px; width: 16px; height: 16px; }
.flag-bv{ background-position: -462px -132px; width: 16px; height: 16px; }
.flag-bw{ background-position: -528px -132px; width: 16px; height: 16px; }
.flag-by{ background-position: -594px -132px; width: 16px; height: 16px; }
.flag-bz{ background-position: -660px -132px; width: 16px; height: 16px; }
.flag-ca{ background-position: -726px -132px; width: 16px; height: 16px; }
.flag-cc{ background-position: -792px -132px; width: 16px; height: 16px; }
.flag-cd{ background-position: -858px -132px; width: 16px; height: 16px; }
.flag-cf{ background-position: -924px -132px; width: 16px; height: 16px; }
.flag-cg{ background-position: -990px -132px; width: 16px; height: 16px; }
.flag-ch{ background-position: -1056px -132px; width: 16px; height: 16px; }
.flag-ci{ background-position: -1122px -132px; width: 16px; height: 16px; }
.flag-ck{ background-position: -1188px -132px; width: 16px; height: 16px; }
.flag-cl{ background-position: -1254px -132px; width: 16px; height: 16px; }
.flag-cm{ background-position: -1320px -132px; width: 16px; height: 16px; }
.flag-cn{ background-position: -1386px -132px; width: 16px; height: 16px; }
.flag-co{ background-position: -1452px -132px; width: 16px; height: 16px; }
.flag-cr{ background-position: -1518px -132px; width: 16px; height: 16px; }
.flag-cu{ background-position: -1584px -132px; width: 16px; height: 16px; }
.flag-cv{ background-position: -1650px -132px; width: 16px; height: 16px; }
.flag-cw{ background-position: -1716px -132px; width: 16px; height: 16px; }
.flag-cx{ background-position: -1782px -132px; width: 16px; height: 16px; }
.flag-cy{ background-position: -1848px -132px; width: 16px; height: 16px; }
.flag-cz{ background-position: -1914px -132px; width: 16px; height: 16px; }
.flag-de{ background-position: 0 -198px; width: 16px; height: 16px; }
.flag-dj{ background-position: -66px -198px; width: 16px; height: 16px; }
.flag-dk{ background-position: -132px -198px; width: 16px; height: 16px; }
.flag-dm{ background-position: -198px -198px; width: 16px; height: 16px; }
.flag-do{ background-position: -264px -198px; width: 16px; height: 16px; }
.flag-dz{ background-position: -330px -198px; width: 16px; height: 16px; }
.flag-ec{ background-position: -396px -198px; width: 16px; height: 16px; }
.flag-ee{ background-position: -462px -198px; width: 16px; height: 16px; }
.flag-eg{ background-position: -528px -198px; width: 16px; height: 16px; }
.flag-eh{ background-position: -594px -198px; width: 16px; height: 16px; }
.flag-er{ background-position: -660px -198px; width: 16px; height: 16px; }
.flag-es{ background-position: -726px -198px; width: 16px; height: 16px; }
.flag-et{ background-position: -792px -198px; width: 16px; height: 16px; }
.flag-fi{ background-position: -858px -198px; width: 16px; height: 16px; }
.flag-fj{ background-position: -924px -198px; width: 16px; height: 16px; }
.flag-fk{ background-position: -990px -198px; width: 16px; height: 16px; }
.flag-fm{ background-position: -1056px -198px; width: 16px; height: 16px; }
.flag-fo{ background-position: -1122px -198px; width: 16px; height: 16px; }
.flag-fr{ background-position: -1188px -198px; width: 16px; height: 16px; }
.flag-ga{ background-position: -1254px -198px; width: 16px; height: 16px; }
.flag-en{ background-position: -1320px -198px; width: 16px; height: 16px; }
.flag-gd{ background-position: -1386px -198px; width: 16px; height: 16px; }
.flag-ge{ background-position: -1452px -198px; width: 16px; height: 16px; }
.flag-gf{ background-position: -1518px -198px; width: 16px; height: 16px; }
.flag-gg{ background-position: -1584px -198px; width: 16px; height: 16px; }
.flag-gh{ background-position: -1650px -198px; width: 16px; height: 16px; }
.flag-gi{ background-position: -1716px -198px; width: 16px; height: 16px; }
.flag-gl{ background-position: -1782px -198px; width: 16px; height: 16px; }
.flag-gm{ background-position: -1848px -198px; width: 16px; height: 16px; }
.flag-gn{ background-position: -1914px -198px; width: 16px; height: 16px; }
.flag-gp{ background-position: 0 -264px; width: 16px; height: 16px; }
.flag-gq{ background-position: -66px -264px; width: 16px; height: 16px; }
.flag-gr{ background-position: -132px -264px; width: 16px; height: 16px; }
.flag-gs{ background-position: -198px -264px; width: 16px; height: 16px; }
.flag-gt{ background-position: -264px -264px; width: 16px; height: 16px; }
.flag-gu{ background-position: -330px -264px; width: 16px; height: 16px; }
.flag-gw{ background-position: -396px -264px; width: 16px; height: 16px; }
.flag-gy{ background-position: -462px -264px; width: 16px; height: 16px; }
.flag-hk{ background-position: -528px -264px; width: 16px; height: 16px; }
.flag-hm{ background-position: -594px -264px; width: 16px; height: 16px; }
.flag-hn{ background-position: -660px -264px; width: 16px; height: 16px; }
.flag-hr{ background-position: -726px -264px; width: 16px; height: 16px; }
.flag-ht{ background-position: -792px -264px; width: 16px; height: 16px; }
.flag-hu{ background-position: -858px -264px; width: 16px; height: 16px; }
.flag-id{ background-position: -924px -264px; width: 16px; height: 16px; }
.flag-ie{ background-position: -990px -264px; width: 16px; height: 16px; }
.flag-il{ background-position: -1056px -264px; width: 16px; height: 16px; }
.flag-im{ background-position: -1122px -264px; width: 16px; height: 16px; }
.flag-in{ background-position: -1188px -264px; width: 16px; height: 16px; }
.flag-io{ background-position: -1254px -264px; width: 16px; height: 16px; }
.flag-iq{ background-position: -1320px -264px; width: 16px; height: 16px; }
.flag-ir{ background-position: -1386px -264px; width: 16px; height: 16px; }
.flag-is{ background-position: -1452px -264px; width: 16px; height: 16px; }
.flag-it{ background-position: -1518px -264px; width: 16px; height: 16px; }
.flag-je{ background-position: -1584px -264px; width: 16px; height: 16px; }
.flag-jm{ background-position: -1650px -264px; width: 16px; height: 16px; }
.flag-jo{ background-position: -1716px -264px; width: 16px; height: 16px; }
.flag-ja{ background-position: -1782px -264px; width: 16px; height: 16px; }
.flag-ke{ background-position: -1848px -264px; width: 16px; height: 16px; }
.flag-kg{ background-position: -1914px -264px; width: 16px; height: 16px; }
.flag-kh{ background-position: 0 -330px; width: 16px; height: 16px; }
.flag-ki{ background-position: -66px -330px; width: 16px; height: 16px; }
.flag-km{ background-position: -132px -330px; width: 16px; height: 16px; }
.flag-kn{ background-position: -198px -330px; width: 16px; height: 16px; }
.flag-kp{ background-position: -264px -330px; width: 16px; height: 16px; }
.flag-kr{ background-position: -330px -330px; width: 16px; height: 16px; }
.flag-kw{ background-position: -396px -330px; width: 16px; height: 16px; }
.flag-ky{ background-position: -462px -330px; width: 16px; height: 16px; }
.flag-kz{ background-position: -528px -330px; width: 16px; height: 16px; }
.flag-la{ background-position: -594px -330px; width: 16px; height: 16px; }
.flag-lb{ background-position: -660px -330px; width: 16px; height: 16px; }
.flag-lc{ background-position: -726px -330px; width: 16px; height: 16px; }
.flag-li{ background-position: -792px -330px; width: 16px; height: 16px; }
.flag-lk{ background-position: -858px -330px; width: 16px; height: 16px; }
.flag-lr{ background-position: -924px -330px; width: 16px; height: 16px; }
.flag-ls{ background-position: -990px -330px; width: 16px; height: 16px; }
.flag-lt{ background-position: -1056px -330px; width: 16px; height: 16px; }
.flag-lu{ background-position: -1122px -330px; width: 16px; height: 16px; }
.flag-lv{ background-position: -1188px -330px; width: 16px; height: 16px; }
.flag-ly{ background-position: -1254px -330px; width: 16px; height: 16px; }
.flag-ma{ background-position: -1320px -330px; width: 16px; height: 16px; }
.flag-mc{ background-position: -1386px -330px; width: 16px; height: 16px; }
.flag-md{ background-position: -1452px -330px; width: 16px; height: 16px; }
.flag-me{ background-position: -1518px -330px; width: 16px; height: 16px; }
.flag-mf{ background-position: -1584px -330px; width: 16px; height: 16px; }
.flag-mg{ background-position: -1650px -330px; width: 16px; height: 16px; }
.flag-mh{ background-position: -1716px -330px; width: 16px; height: 16px; }
.flag-mk{ background-position: -1782px -330px; width: 16px; height: 16px; }
.flag-ml{ background-position: -1848px -330px; width: 16px; height: 16px; }
.flag-mm{ background-position: -1914px -330px; width: 16px; height: 16px; }
.flag-mn{ background-position: 0 -396px; width: 16px; height: 16px; }
.flag-mo{ background-position: -66px -396px; width: 16px; height: 16px; }
.flag-mp{ background-position: -132px -396px; width: 16px; height: 16px; }
.flag-mq{ background-position: -198px -396px; width: 16px; height: 16px; }
.flag-mr{ background-position: -264px -396px; width: 16px; height: 16px; }
.flag-ms{ background-position: -330px -396px; width: 16px; height: 16px; }
.flag-mt{ background-position: -396px -396px; width: 16px; height: 16px; }
.flag-mu{ background-position: -462px -396px; width: 16px; height: 16px; }
.flag-mv{ background-position: -528px -396px; width: 16px; height: 16px; }
.flag-mw{ background-position: -594px -396px; width: 16px; height: 16px; }
.flag-mx{ background-position: -660px -396px; width: 16px; height: 16px; }
.flag-my{ background-position: -726px -396px; width: 16px; height: 16px; }
.flag-mz{ background-position: -792px -396px; width: 16px; height: 16px; }
.flag-na{ background-position: -858px -396px; width: 16px; height: 16px; }
.flag-nc{ background-position: -924px -396px; width: 16px; height: 16px; }
.flag-ne{ background-position: -990px -396px; width: 16px; height: 16px; }
.flag-nf{ background-position: -1056px -396px; width: 16px; height: 16px; }
.flag-ng{ background-position: -1122px -396px; width: 16px; height: 16px; }
.flag-ni{ background-position: -1188px -396px; width: 16px; height: 16px; }
.flag-nl{ background-position: -1254px -396px; width: 16px; height: 16px; }
.flag-no{ background-position: -1320px -396px; width: 16px; height: 16px; }
.flag-np{ background-position: -1386px -396px; width: 16px; height: 16px; }
.flag-nr{ background-position: -1452px -396px; width: 16px; height: 16px; }
.flag-nu{ background-position: -1518px -396px; width: 16px; height: 16px; }
.flag-nz{ background-position: -1584px -396px; width: 16px; height: 16px; }
.flag-om{ background-position: -1650px -396px; width: 16px; height: 16px; }
.flag-pa{ background-position: -1716px -396px; width: 16px; height: 16px; }
.flag-pe{ background-position: -1782px -396px; width: 16px; height: 16px; }
.flag-pf{ background-position: -1848px -396px; width: 16px; height: 16px; }
.flag-pg{ background-position: -1914px -396px; width: 16px; height: 16px; }
.flag-ph{ background-position: 0 -462px; width: 16px; height: 16px; }
.flag-pk{ background-position: -66px -462px; width: 16px; height: 16px; }
.flag-pl{ background-position: -132px -462px; width: 16px; height: 16px; }
.flag-pm{ background-position: -198px -462px; width: 16px; height: 16px; }
.flag-pn{ background-position: -264px -462px; width: 16px; height: 16px; }
.flag-pr{ background-position: -330px -462px; width: 16px; height: 16px; }
.flag-ps{ background-position: -396px -462px; width: 16px; height: 16px; }
.flag-pt{ background-position: -462px -462px; width: 16px; height: 16px; }
.flag-pw{ background-position: -528px -462px; width: 16px; height: 16px; }
.flag-py{ background-position: -594px -462px; width: 16px; height: 16px; }
.flag-qa{ background-position: -660px -462px; width: 16px; height: 16px; }
.flag-re{ background-position: -726px -462px; width: 16px; height: 16px; }
.flag-ro{ background-position: -792px -462px; width: 16px; height: 16px; }
.flag-rs{ background-position: -858px -462px; width: 16px; height: 16px; }
.flag-ru{ background-position: -924px -462px; width: 16px; height: 16px; }
.flag-rw{ background-position: -990px -462px; width: 16px; height: 16px; }
.flag-sa{ background-position: -1056px -462px; width: 16px; height: 16px; }
.flag-sb{ background-position: -1122px -462px; width: 16px; height: 16px; }
.flag-sc{ background-position: -1188px -462px; width: 16px; height: 16px; }
.flag-sd{ background-position: -1254px -462px; width: 16px; height: 16px; }
.flag-se{ background-position: -1320px -462px; width: 16px; height: 16px; }
.flag-sg{ background-position: -1386px -462px; width: 16px; height: 16px; }
.flag-sh{ background-position: -1452px -462px; width: 16px; height: 16px; }
.flag-si{ background-position: -1518px -462px; width: 16px; height: 16px; }
.flag-sj{ background-position: -1584px -462px; width: 16px; height: 16px; }
.flag-sk{ background-position: -1650px -462px; width: 16px; height: 16px; }
.flag-sl{ background-position: -1716px -462px; width: 16px; height: 16px; }
.flag-sm{ background-position: -1782px -462px; width: 16px; height: 16px; }
.flag-sn{ background-position: -1848px -462px; width: 16px; height: 16px; }
.flag-so{ background-position: -1914px -462px; width: 16px; height: 16px; }
.flag-sr{ background-position: 0 -528px; width: 16px; height: 16px; }
.flag-ss{ background-position: -66px -528px; width: 16px; height: 16px; }
.flag-st{ background-position: -132px -528px; width: 16px; height: 16px; }
.flag-sv{ background-position: -198px -528px; width: 16px; height: 16px; }
.flag-sw{ background-position: -264px -528px; width: 16px; height: 16px; }
.flag-sy{ background-position: -330px -528px; width: 16px; height: 16px; }
.flag-sz{ background-position: -396px -528px; width: 16px; height: 16px; }
.flag-tc{ background-position: -462px -528px; width: 16px; height: 16px; }
.flag-td{ background-position: -528px -528px; width: 16px; height: 16px; }
.flag-tf{ background-position: -594px -528px; width: 16px; height: 16px; }
.flag-tg{ background-position: -660px -528px; width: 16px; height: 16px; }
.flag-th{ background-position: -726px -528px; width: 16px; height: 16px; }
.flag-tj{ background-position: -792px -528px; width: 16px; height: 16px; }
.flag-tk{ background-position: -858px -528px; width: 16px; height: 16px; }
.flag-tl{ background-position: -924px -528px; width: 16px; height: 16px; }
.flag-tm{ background-position: -990px -528px; width: 16px; height: 16px; }
.flag-tn{ background-position: -1056px -528px; width: 16px; height: 16px; }
.flag-to{ background-position: -1122px -528px; width: 16px; height: 16px; }
.flag-tr{ background-position: -1188px -528px; width: 16px; height: 16px; }
.flag-tt{ background-position: -1254px -528px; width: 16px; height: 16px; }
.flag-tv{ background-position: -1320px -528px; width: 16px; height: 16px; }
.flag-tw{ background-position: -1386px -528px; width: 16px; height: 16px; }
.flag-tz{ background-position: -1452px -528px; width: 16px; height: 16px; }
.flag-ua{ background-position: -1518px -528px; width: 16px; height: 16px; }
.flag-ug{ background-position: -1584px -528px; width: 16px; height: 16px; }
.flag-um{ background-position: -1650px -528px; width: 16px; height: 16px; }
.flag-us{ background-position: -1716px -528px; width: 16px; height: 16px; }
.flag-uy{ background-position: -1782px -528px; width: 16px; height: 16px; }
.flag-uz{ background-position: -1848px -528px; width: 16px; height: 16px; }
.flag-va{ background-position: -1914px -528px; width: 16px; height: 16px; }
.flag-vc{ background-position: 0 -594px; width: 16px; height: 16px; }
.flag-ve{ background-position: -66px -594px; width: 16px; height: 16px; }
.flag-vg{ background-position: -132px -594px; width: 16px; height: 16px; }
.flag-vi{ background-position: -198px -594px; width: 16px; height: 16px; }
.flag-vn{ background-position: -264px -594px; width: 16px; height: 16px; }
.flag-vu{ background-position: -330px -594px; width: 16px; height: 16px; }
.flag-wf{ background-position: -396px -594px; width: 16px; height: 16px; }
.flag-ws{ background-position: -462px -594px; width: 16px; height: 16px; }
.flag-ye{ background-position: -528px -594px; width: 16px; height: 16px; }
.flag-yt{ background-position: -594px -594px; width: 16px; height: 16px; }
.flag-za{ background-position: -660px -594px; width: 16px; height: 16px; }
.flag-zm{ background-position: -726px -594px; width: 16px; height: 16px; }
.flag-zw{ background-position: -792px -594px; width: 16px; height: 16px; }
