<script type="text/javascript" src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="{{ "/bower_components/foundation/js/foundation.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/bower_components/foundation/js/foundation/foundation.magellan.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/search.js" | prepend: site.baseurl }}"></script>

{% include piwik.html %}
