<head>
    <meta charset="utf-8">
    <title>
    {% if page.title %}
        {{ page.title }} -
    {% endif %}
    Blog Cake17
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="google-site-verification" content="Eakerb7NRoz_egRoyrFPO32Zzu9vS45GGh7NEsdjKcA" />

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- My css -->
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- For Flags -->
    <link href="{{ site.baseurl }}/assets/css/iso16.css" rel="stylesheet">
    <!-- Foundation icons css -->
    <link href="{{ site.baseurl }}/assets/css/foundation-icons.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/media/favicon.png">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml">
</head>
