<hr>
<div class="pagination-centered">
	<ul class="pagination" role="menubar" aria-label="Pagination">
		{% if page.previous %}
		<li class="arrow" aria-disabled="true"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}">&laquo; Previous</a></li>
		{% else %}
		<li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
		{% endif %}
		{% if page.next %}
		<li class="arrow"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
		{% else %}
		<li class="arrow"><a href="">Next &raquo;</a></li>
		{% endif %}
	</ul>
</div>
<hr>

<div class="row">
	<div class="large-3 columns">
		<ul class="button-group radius round">
			<li><a class="button success tiny" href="{{ site.BASE_PATH }}{{ post.url }}">
					{% assign d = page.date | date: "%d" | plus:'0' %}
					{{ page.date | date: "%B" }} 
					{% case d %}
					{% when 1 or 21 or 31 %}{{ d }}st,
					{% when 2 or 22 %}{{ d }}nd,
					{% when 3 or 23 %}{{ d }}rd,
					{% else %}{{ d }}th,
					{% endcase %}
					{{ page.date | date: "%Y" }}
			</a></li>
		</ul>
		<h1> {{ page.title }} </h1>
	</div>
	<div class="large-9 columns">
		<article>
			<div class="article_body">
				{{ content }}
			</div>
		</article>
	</div>
</div>
