<div id="search-bar">
  <!-- Search form -->
  <form method="get" action="{{ site.baseurl }}/public/js/search" data-search-form>
    <div class="row">
      <div class="large-12 columns">
        <div class="row collapse">
          <div class="small-2 large-1 columns">
            <a href="#" class="button prefix prefix-round secondary"><i class="fi-magnifying-glass"></i></a>
          </div>
          <div class="small-8 large-10 columns">
            <input type="text" name="q" id="q" placeholder="Enter search term" data-search-input />
          </div>
          <div class="small-2 large-1 columns">
            <input type="submit" value="Ok" class="button postfix secondary" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
